* {
  margin:  0;
  padding: 0;
  font-size: 12px;
}

h1{
  font-size: 16px;
  text-align:center;
}

h2{
  font-size: 14px;
}

/* NAVIGATION */

nav { float:left; width:100%; }
nav li{ display:block; float:left; margin:10px 5px; padding:10px; background-color:#000; }
nav li a{ color:#fff; }

/* END OF NAVIGATION */

/* REGULAR STUFF */

.normalArea{ width:100%; margin: 10px 0 10px 0; }
select { min-width: 200px; height:20px; }
button { height: 20px; padding:0 10px;}
.tableHorizontalSpacer{ height:10px; }

/* END OF REGULAR STUFF */

/* CHARACTER SHEET*/

#characterSheet label { width:70px; display:block; float:left; }
#characterSheet span { float:right; padding-right:15px; font-size:16px; }

/* END OF CHARACTER SHEET*/
